<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find Mars Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission To Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars_list Listings -->
    <div class="row" id="mars-listings1">
      <div class="col-md-12">
        <h1>Latest Mars News</h1>
        <h4 class="heading">{{listings.Nasa_News_Title}}</h4>
        <small>{{listings.Nasa_News_Para}}</small>
      </div> 
    </div>

    <div class="row" id="mars-listings2">
      <div class="col-md-8">
        <h1>JPG Mars Featured Image</h1>
        <img src={{listings.Featured_Image}} alt="featured_img" style = "width:70%; height:70%">
      </div>
      <div class="col-md-4">
        <h1>Mars Information</h1>
        <div>{{listings.Mars_Information|safe}}</div>
      </div>
    </div>

    <div>
      <h1>Mars Images</h1>
    
      <div class="row" id="mars-listings3_1"></div>
        <div class="col-md-6">
          <p>{{listings.Mars_Img_Url[0]["title"]}}</p>
          <img src = {{listings.Mars_Img_Url[0]["img_url"]}} style = "width: 300px; height: 300px; float:left" >
        </div>

        <div class="col-md-6">
          <p>{{listings.Mars_Img_Url[1]["title"]}}</p>
          <img src = {{listings.Mars_Img_Url[1]["img_url"]}} style = "width: 300px; height: 300px; float: left" >
        </div>
      </div>
      <br>
      <br>
      <div class="row" id="mars-listings3_2"></div>
        <div class="col-md-6">
          <p>{{listings.Mars_Img_Url[2]["title"]}}</p>
          <img src = {{listings.Mars_Img_Url[2]["img_url"]}} style = "width: 300px; height: 300px; float:left" >
        </div>
      
        <div class="col-md-6">
          <p>{{listings.Mars_Img_Url[3]["title"]}}</p>
          <img src = {{listings.Mars_Img_Url[3]["img_url"]}} style = "width: 300px; height: 300px; float: left" >
        </div>
      </div>
    </div>

  </div>
</body>

</html>